{% extends "main/base.html" %}

{% block title %}
    Django To-Do List - User Login
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>User Login</h2>
  {% if register_success %}
      <h4 style="color: #009900;">{{ register_success }}</h4>
  {% endif %}
  <hr class="mt-0 mb-2">
  <form method="POST" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mb-2" style="width: 200px;">LOGIN</button>
    <p>Haven't you registered yet? <a href="/register">Click here</a> to register now.</p>
  </form>
{% endblock %}

<!-- When logged in, Django attempts to automatically redirect to /accounts/profile -->
<!-- This has to be changed for the page we'd like to redirect (LOGIN_REDIRECT_URL) -->