.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #444444;
    overflow-x: hidden;
    padding: 20px 0px 0px 5px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #b5b5b5;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a#home {
    margin-bottom: 20px;
}
.sidenav a#admin {
    margin-top: 20px;
}
.profile tr td {
    border: 1px solid black;
    padding: 2px 40px 2px 8px;
    font-size: 20px;
}
.profile tr:nth-child(even) {
    background-color: #E1E1E1;
}
button#aboutBtn {
    bottom: 30px;
    left: 20px;
    padding: 10px 30px;
    color: #EEEEEE;
    position: fixed;
}
hr#basehr {
    height: 3px;
    background-color: black;
}
.main {
    margin-left: 60px;
    padding: 0px 0px 0px 0px;
}