{% extends "main/base.html" %}

{% block title %}
    Django To-Do List - About
{% endblock %}

{% block content %}
    <h2>About This Project</h2>
    <hr class="mt-0 mb-2">
    <p>
        This project was created with <b>Python</b> language and <b>Django</b> framework, which enables to simulate 
        the well-known <b>to-do list application.</b>
    </p>
    <p>
        To carry out this project into the runnable condition at the most reasonable level, I benefited from this 
        <a href="https://www.youtube.com/watch?v=sm1mokevMWk">YouTube video by Tech With Tim</a>, 
        teaching Django with various aspects, which took 3+ hours to complete.    
    </p>
    <p>
        The video featured these parts about Django, as well as other things for how the related components work:
        <ul>
            <li>SQLite3 Database</li>
            <li>Admin Dashboard</li>
            <li>Templates & Custom HTML</li>
            <li>Simple & Custom Forms</li>
            <li>Adding Sidebar</li>
            <li>Adding Bootstrap</li>
            <li>User Registration</li>
            <li>Login, Logout, User Authentication</li>
            <li>User Specific Pages</li>
        </ul>
    </p>
    <p>
        Later on, I continued improving this project to provide richer user interface, enable deleting items from to-do lists,
        and implement fully functional user registry and login / logout procedure.
    </p>
    <p>
        Hopefully, this will pave the way for creating web applications using Python & Django with other popular libraries 
        alongside, for unique user experience and interactions and being alternative to other web frameworks such as 
        React, TypeScript, etc.
    </p>
    <hr class="mt-0 mb-1">
    <a href="/">
        <button name="homePage" class="btn btn-secondary mt-2 mb-2" style="width: 240px;">Back to Home Page</button>
    </a>
{% endblock %}